* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 0 64px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  padding: 18px;
  list-style: none;
}

nav li a {
  font-family: 'Inter', sans-serif;
  color: #333333;
  text-decoration: none;
}

.fas {
  font-size: 0.5rem;
  color: #d9f4f8;
}

.fss {
  margin: 12px;
  font-size: 0.75rem;
  color: #898989;
}

.faas {
  padding-right: 50px;
  font-size: 2rem;
  color: #a5dbe2;
}

.title {
  padding: 85px 0 39px 68px;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.description {
  padding: 39px 0 27px 68px;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: #333333;
}

.form {
  display: flex;
}

input {
  color: #898989;
  margin-left: 68px;
  padding: 24px;
  width: 712px;
}

.btn-search {
  background-color: #a5dbe2;
  padding: 21px 40px;
  border-radius: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
  margin-left: 16px;
}

.caixa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 51px;
}

.caixa nav ul {
  padding: 40px 16px 80px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caixa nav li a {
  background-color: #f5f8f9;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  color: #333333;
  text-decoration: none;
}

.caixa nav ul li a.color {
  background-color: #a5dbe2;
  color: #333333;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  padding: 80px 133px 40px 67px;
}

.frame29 {
  display: flex;
}

.paragraph {
  padding: 18px 64px 0 25px;
  font-family: 'Inter', sans-serif;
}

.paragraph h2 {
  font-size: 1.125rem;
  font-family: 'Inter', sans-serif;
}

.paragraph p {
  padding-top: 16px;
  color: #898989;
}

.line-height {
  line-height: 16px;
}

.line {
  border: 1px solid #d9f4f8;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 67px 480px 0 0;
}

.rodape img {
  padding: 0 0 0 68px;
}
.rodape nav {
  padding: 0 480px 0 0;
}

footer {
  padding: 24px 64px 31px 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child) {
  margin-left: 10px;
}
.link-social-media .item-social-media {
  transition: background-color 0.5s;
}
.link-social-media:hover .item-social-media {
  background-color: #a5dbe2;
  color: #333333;
  border-color: #a5dbe2;
}
.list-social-media {
  display: flex;
  list-style-type: none;
}
.item-social-media {
  border: 1px solid #a5dbe2;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333333;
}
